
<div class="jumbotron">
  <% if user_signed_in? %>
    
    <h1>Welcome, new user!</h1>
    <p class="lead">
      You must sign in or sign up before you can access our super sweet,
      top secret content.
    </p>
    
  <% end %>
</div>
    