<html>
	<head></head>
	<body>
		<div class="panel panel-default">
  			<div class="panel-heading"><h1>ABOUT US</h1></div>
  			<div class="panel-body">
    			We are the glocal leader of book selling and purchasing who are providing the basic facility of purchasing and reading onine books .
    			We are the glocal leader of book selling and purchasing who are providing the basic facility of purchasing and reading onine books .
    			We are the glocal leader of book selling and purchasing who are providing the basic facility of purchasing and reading onine books .
    			We are the glocal leader of book selling and purchasing who are providing the basic facility of purchasing and reading onine books .
    			We are the glocal leader of book selling and purchasing who are providing the basic facility of purchasing and reading onine books .
    			We are the glocal leader of book selling and purchasing who are providing the basic facility of purchasing and reading onine books .
    			We are the glocal leader of book selling and purchasing who are providing the basic facility of purchasing and reading onine books .
    			
  			</div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-heading"><h1>OUR MISSION</h1></div>
  			<div class="panel-body">
    			We are the glocal leader of book selling and purchasing who are providing the basic facility of purchasing and reading onine books .
    			We are the glocal leader of book selling and purchasing who are providing the basic facility of purchasing and reading onine books .
    			We are the glocal leader of book selling and purchasing who are providing the basic facility of purchasing and reading onine books .
    			We are the glocal leader of book selling and purchasing who are providing the basic facility of purchasing and reading onine books .
    			We are the glocal leader of book selling and purchasing who are providing the basic facility of purchasing and reading onine books .
    			We are the glocal leader of book selling and purchasing who are providing the basic facility of purchasing and reading onine books .
    			We are the glocal leader of book selling and purchasing who are providing the basic facility of purchasing and reading onine books .
    			
  			</div>
		</div>

    <div class="panel panel-default">
        <div class="panel-heading"><h1>CONTACTS</h1></div>
        <div class="panel-body">
          <b>Email</b>    : admin@yahoo.com<br>
          <b>Phone #</b>  : +9204237141800<br>
          <b>UAN</b>      : 111-112-113<br>
          <b>Address</b>  : Plot # 79 st # 20 becon street Lahore Pakistan<br> 
        </div>
    </div>
	</body>
</html>